{% extends "base.html" %}

{% block content %}

{% if name %}
  <h1>You've Logged In!</h1>
{% else %}
  <h1>Login Form</h1>
  <br/>
  <div class="shadow p-3 mb-5 bg-body rounded">
  <form method="POST">
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br/>
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-dark") }}
  </form>
  </div>

{% endif %}

{% endblock %}
