{% extends "base.html" %}

{% block content %}
    <h1>Dashboard!!</h1>
    </br>
    
    <div class="card">
        <div class="card-header">
            <strong>Name:</strong> {{ current_user.name }}<br/>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Seja bem-vindo a sua personalização de usuário!
            </h5>
            <p class="card-text">
                <strong>Username:</strong> {{ current_user.username }}<br/>
                <strong>Id:</strong> {{ current_user.id }}<br/>
                <strong>Email:</strong> {{ current_user.email }}<br/>
                <strong>Since:</strong> {{ current_user.date_added }}<br/>
            </p>
        </div>
        <a href="url_for('logout')" class="btn btn-secondary btn-sm">Logout</a>
    </div>

    <br/><br/>
   
    <br/><br/>

    
    <strong>Configurações</strong> (Em breve)<br/>
{% endblock %}