{% extends "base.html" %}

{% block content %}
    <!-- Cabeçalho do Perfil -->
    <h1 class="text-center my-4">User Profile</h1>
    <br/>

    <!-- Cartão de Informações do Usuário -->
    <div class="shadow-sm p-3 mb-4 bg-white rounded border">
        <div class="card-header">
            <strong>Name:</strong> {{ current_user.name }}<br/>
        </div>
        <div class="card-body">
            <h5 class="card-title">Welcome to the User Profile Page!</h5>
            <p class="card-text">
                <strong>Username:</strong> {{ current_user.username }}<br/>
                <strong>Id:</strong> {{ current_user.id }}<br/>
                <strong>Email:</strong> {{ current_user.email }}<br/>
                <strong>Since:</strong> {{ current_user.date_added.strftime('%b %d, %Y') }}<br/>
            </p>
            <div class="d-flex justify-content-start">
                <a href="{{url_for('update_profile', id=current_user.id)}}" class="btn btn-dark me-2">Update Profile</a>
                <a href="{{url_for('logout')}}" class="btn btn-dark me-2">Logout</a>
                <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <!-- Cartão de Atualização de Perfil -->
    <div class="shadow-sm p-3 mb-4 bg-white rounded border">
        <div class="card-header">
            Update Profile
        </div>
        <div class="card-body">
            <form action="/dashboard" method="POST">
                {{ form.hidden_tag() }}

                <!-- Campo Nome -->
                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", value=name_to_update.name) }}
                </div>

                <!-- Campo Username -->
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", value=name_to_update.username) }}
                </div>

                <!-- Campo Email -->
                <div class="mb-4">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", value=name_to_update.email) }}
                </div>

                <!-- Botão para Atualizar Perfil -->
                <div class="d-flex justify-content-between">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
