{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1 class="text-center my-4">Edit Post</h1>
<br/>

<div class="shadow-sm p-3 mb-4 bg-white rounded border">

    <!-- Formulário para editar o post -->
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Campo para editar o título -->
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <!-- Campo para editar o conteúdo -->
        <div class="mb-4">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="5") }}
        </div>

        <!-- Botões de ação: Salvar e Voltar -->
        <div class="d-flex justify-content-between">
            {{ form.submit(class="btn btn-dark") }}
            <a href="{{ url_for('posts') }}" class="btn btn-dark">Return</a>
        </div>
    </form>

</div>

{% endblock %}
