{% extends "base.html" %}

{% block content %}

{% if name %}
  <h1>You've Logged In!</h1>
{% else %}
  <h1>Login Form</h1>
  <br/>
  <div class="shadow p-3 mb-5 bg-body rounded">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control") }}
    <br/>
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-dark") }}
    </br>
    <p> </p>
    <p>Don't have an account yet? <a href="{{ url_for('register') }}">Sign in.</a></p>
  </form>
  </div>

{% endif %}

{% endblock %}
