{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1 class="text-center my-4">Posts</h1>
<br/>

<!-- Exibe todos os posts -->
{% for post in posts %}
<div class="shadow-sm p-3 mb-4 bg-white rounded border">

    <!-- Título do post -->
    <h3 class="post-title mb-1"><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h3>

    <!-- Avatar, nome do usuário e data -->
    <div class="d-flex align-items-center mb-2">
        {% if post.poster.profile_pic %}
            <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic) }}" alt="Avatar" class="rounded-circle me-2" style="width: 50px; height: 50px;">
        {% else %}
            <img src="{{ url_for('static', filename='images/default-profile-picture.jpg') }}" alt="Avatar" class="rounded-circle me-2" style="width: 50px; height: 50px;">
        {% endif %}
        <div>
            <small class="post-username text-muted">{{ post.poster.username }}</small><br/>
            <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y %H:%M') }}</small>
        </div>
    </div>

    <!-- Conteúdo do post -->
    <div class="post-content mb-4">
        <p>{{ post.content }}</p>
    </div>

    <!-- Links de ações (Editar/Excluir) se o usuário for o autor ou admin -->
    <div class="d-flex justify-content-start">
        {% if post.poster_id == current_user.id or current_user.id == 1 %}
        <a href="{{ url_for('edit_post', id=post.id) }}" class="me-3 action-link"><i class="fas fa-edit"></i> Edit</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="action-link"><i class="fas fa-trash-alt"></i> Delete</a>
        {% endif %}
    </div>
    
</div>
<br/><br/>
{% endfor %}

{% endblock %}


