alembic==1.13.2
Flask==3.0.3
Flask_Login==0.6.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
mysql_connector_repackaged==0.3.1
python-dotenv==1.0.1
SQLAlchemy==2.0.32
Werkzeug==3.0.4
WTForms==3.1.2
psycopg2==2.9.9
email_validator==2.2.0
